<!DOCTYPE html>
<html>

<head>
  <% include ./partials/_head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/scripts/profile.js"></script>
</head>

<body>
  <div id="container">
    <div id="main">

      <% include ./partials/_nav %>

      <div id="user-container" class="container">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <h1>
              <%= user.first_name + " " +user.last_name %>
            </h1>
            <h2>
              <%= user.email %>
            </h2>
          </div>
          <div class="col-sm-2">
          </div>
        </div>

        <div id="fav-container" class="container">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <h1>Favourites</h1>
              <ul class="list-group">
                <% for (fav of favourites) { %>
                  <div class="conatiner fav-row" data-map-id="<%= fav.id %>">
                    <div class="row">
                      <a href="/maps/<%= fav.id %>" class="list-group-item list-group-item-action">
                        <div class="col-sm-9">
                          <%= fav.title %>
                        </div>
                        <div class="col-sm-1 fav-icon">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-1 fav-count">
                          <span class="badge badge-default badge-pill"><%= fav.fav_count %></span>
                        </div>
                        <div class="col-sm-1 fav-remove">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <% } %>
              </ul>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>

        <div id="contrib-container" class="container">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <h1>Contributions</h1>
              <ul class="list-group">
                <% for (map of contributions) { %>
                  <div class="conatiner fav-row" data-map-id="<%= map.id %>">
                    <div class="row">
                      <a href="/maps/<%= map.id %>" class="list-group-item list-group-item-action">
                        <div class="col-sm-9">
                          <%= map.title %>
                        </div>
                        <div class="col-sm-1 fav-icon">
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-1 fav-count">
                          <span class="badge badge-default badge-pill"><%= map.fav_count %></span>
                        </div>
                        <div class="col-sm-1">
                        </div>
                      </a>
                    </div>
                  </div>
                  <% } %>
              </ul>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ./partials/_foot %>

</body>

</html>
